version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  redis:
    image: redis
